1. K Fold

In [1]:
import pandas as pd
from sklearn import model_selection

In [2]:
df = pd.read_csv('winequality-red.csv')

In [6]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,kfold
0,8.0,0.520,0.25,2.0,0.078,19.0,59.0,0.99612,3.30,0.48,10.2,5,-1
1,6.1,0.715,0.10,2.6,0.053,13.0,27.0,0.99362,3.57,0.50,11.9,5,-1
2,6.4,0.360,0.53,2.2,0.230,19.0,35.0,0.99340,3.37,0.93,12.4,6,-1
3,10.9,0.320,0.52,1.8,0.132,17.0,44.0,0.99734,3.28,0.77,11.5,6,-1
4,6.1,0.560,0.00,2.2,0.079,6.0,9.0,0.99480,3.59,0.54,11.5,6,-1

In [7]:
df.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,kfold
1594,10.2,0.670,0.39,1.9,0.054,6.0,17.0,0.99760,3.17,0.47,10.000000,5,-1
1595,11.6,0.475,0.40,1.4,0.091,6.0,28.0,0.99704,3.07,0.65,10.033333,6,-1
1596,8.0,0.830,0.27,2.0,0.080,11.0,63.0,0.99652,3.29,0.48,9.800000,4,-1
1597,5.6,0.660,0.00,2.2,0.087,3.0,11.0,0.99378,3.71,0.63,12.800000,7,-1
1598,7.4,0.635,0.10,2.4,0.080,16.0,33.0,0.99736,3.58,0.69,10.800000,7,-1

In [3]:
# create a new column called kfold and fill it with -1
df["kfold"] = -1

In [4]:
# the next step is to randomize the rows of the data
df = df.sample(frac=1).reset_index(drop=True)

In [5]:
kf = model_selection.KFold(n_splits=5)

In [9]:
# fill the new kfold column
for fold, (trn_, val_) in enumerate(kf.split(X=df)):
    df.loc[val_, 'kfold'] = fold
# save the new csv with kfold column
df.to_csv("train_folds.csv", index=False)